*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* __________ USO GENERALE _____________*/

:root {
    --topo: rgb(248, 248, 248);
}

.pad-top-bot {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pad-rl {
    padding-right: 10px;
    padding-left: 10px;
}

i {
    color: gray;
}

input[type = 'text'] {
    border-radius: 15px;  
}

.nomeutente {
    font-weight: bold;
}

/*_______________________________________*/

.container-plus {
    height: 15vh;
    background-color: rgb(0, 189, 142);  
}

.cont-beige {
    background-color: rgb(173, 173, 173);
    height: 85vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
    padding-bottom: 3em;

}

.main-windows {
    display: flex;
    /*border: 2px solid red;*/
    height: 800px;
    width: 70%;
}

.list-messages {
    justify-content: start;
    width: 40%;
    background-color: white;
}

.navbar-messages {
    display: flex;
    justify-content: space-between;
    height: 10%;
    background-color: rgb(248, 248, 248);
    align-items: center;
}

.navbar-img img {
    border-radius: 50%;
    width: 50px;
}

.user {
    display: flex;
    align-items: center;
    width: 60%;
}

.user img {
    border-radius: 50%;
    width: 20%;
}

.user span {
    margin-left: 3px;
}

.user-icons {
    display: flex;
    width: 75px;
    justify-content: space-between;
    font-size: 130%;
}

.silenzioso {
    height: 10%;
    background-color: rgb(108, 224, 253);
    display: flex;
    justify-content: start;
    align-items: center;
}

.silenz-icon {
    background-color: white;
    color: rgb(108, 224, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.silenz-notice {
    font-size: 90%;
    margin-left: 3px;
}

.silenz-notice span {
    display: block;
}

.subtitle {
    color: gray;
    text-decoration: underline;
    font-size: 80%;
}

.search-messages {
    background-color: rgb(248, 248, 248);
}

.container-search {
    display: flex;
}

.lente{
    background: white;
}

.lente i {
    color: gray;
}

.search-messages input {
    width: 100%;
}

.cronology {
    overflow: hidden;
}

.friend {
    display: flex;
    align-items: start;
    padding-top: 5px;
    padding-bottom: 5px;
    /*
    background-color: greenyellow;
    border: 2px solid coral;
    */
}

.friend-icons  {
    display: flex;
    justify-content: space-between;
    width: 75px;
}

.friend img{
    width: 20%;
    border-radius: 50%;
}

.friend span {
    margin-top: 5px;
    margin-bottom: 3px;
    margin-left: 3px;
}

/*____RX PART_____*/

.chat {
    /*border: 2px solid blue;*/
    justify-content: end;
    width: 50vw;
    height: 100%;
}

.navbar-chat {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    background-color: var(--topo);
}

.sx-part {
    display: flex;
    width: 50%;
}

.friend-chat-img {
    display: flex;
}
    
.friend-chat-img img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-self: center;
}

.friend-chat-img span {
    width: 80%;
}

.info {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 3px;
}

.last-view {
    color: gray;
}

.friend-icons {
    align-self: center;
    margin: 3px;
    font-size: 130%;

}
/*______________*/


.main-chat {
    background-image: url('../img/mine.jpg');
    background-size: contain;
    background-position: center;
    height: 80%;
}

.footer-chat {
    background-color: rgb(255, 238, 223);
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.footer-smile {
    display: flex;
    width: 10%;
    justify-content: center;
    font-size: 130%;
}

.text-area-footer {
    width: 80%;
}

.mic-footer {
    display: flex;
    width: 10%;
    justify-content: center;
    font-size: 130%;
}

.text-area-footer input {
    width: 100%;
    height: 30px;
}

.text-area-footer ::placeholder {
    text-align: center;
}





